{%extends 'base.html'%}
{% block controller1 %} {% url 'posts' %} {% endblock %}
{% block controller1title %} Tasks {% endblock %}

{% block content %}


    <section id="hero" class="min-h-screen flex flex-col-reverse justify-center align-middle px-6 items-center gap-8 mb-12 scroll-mt-20 sm:flex-row  ">
        <article class="sm:w-3/3 ">
            <h2 class="max-w-md xl:text-7xl font-bold text-center sm:text-9xl sm:text-left text-slate-900.dark:text-white">Easy, simple <span class="text-indigo-700 dark:text indigo-300"> Taskify.</span></h2>
            <p class="max-w-md xl:text-5xl mt-4 text-center sm:text-7xl sm:text-left text-slate-700 dark:text-slate-400">
                Tired of those complex task management app? Taskify is just right for you!
            </p>
            <p class="max-w-md xl:text-4xl mt-4 sm:text-6xl  text-center sm:text-left text-red-700 dark:text-red-700">Simple, Nice</p>
        </article>
       
    </section>



{% endblock %}