{%extends 'base.html'%}
{% block controller1 %} {% url 'posts' %} {% endblock%}
{% block controller1title %} Tasks {% endblock%}

{% block content %}


    <section id="hero" class="min-h-screen flex flex-col-reverse justify-center align-middle px-6 items-center gap-8 mb-12 scroll-mt-40 sm:flex-row  ">
        <article class="sm:w-1/2">
            <h2 class="max-w-md text-5xl font-bold text-center sm:text-5xl sm:text-left text-slate-900.dark:text-white">Easy, simple <span class="text-indigo-700 dark:text indigo-300"> Taskify.</span></h2>
            <p class="max-w-md text-3xl mt-4 text-center sm:text-left text-slate-700 dark:text-slate-400">
                Are tired of those complex task management app? Taskify is just right for you!
            </p>
            <p class="max-w-md text-2xl mt-4 text-center sm:text-left text-red-700 dark:text-red-700">Simply</p>
        </article>
       
    </section>



{% endblock %}