{% extends 'base.html' %}
{% block title %}
LIST VIEW TITLE
{% endblock %}

{% block controller1 %} {% url 'post-create' %} {% endblock %}
{% block controller1title %} Create {% endblock %}

{% block content %}

<div class="relative overflow-x-auto overflow-y-auto ">
    <table class="w-full  xl:h-[80vh] sm:h-[80vh]  overflow-x-auto overflow-y-scroll">
        <thead class="xl:text-lg sm:text-5xl w-full text-gray-700 uppercase bg-indigo-50 dark:bg-indigo-700 dark:text-white ">
            <tr>
                <th id="titles" scope="col" class="px-6 py-3 cursor-pointer hover:text-indigo-900">
                    Titles
                </th>
                <th id="statuses" scope="col" class="px-6 py-3 cursor-pointer hover:text-indigo-900">
                    <div class="flex items-center">
                        Status
    <path d="M8.574 11.024h6.852a2.075 2.075 0 0 0 1.847-1.086 1.9 1.9 0 0 0-.11-1.986L13.736 2.9a2.122 2.122 0 0 0-3.472 0L6.837 7.952a1.9 1.9 0 0 0-.11 1.986 2.074 2.074 0 0 0 1.847 1.086Zm6.852 1.952H8.574a2.072 2.072 0 0 0-1.847 1.087 1.9 1.9 0 0 0 .11 1.985l3.426 5.05a2.123 2.123 0 0 0 3.472 0l3.427-5.05a1.9 1.9 0 0 0 .11-1.985 2.074 2.074 0 0 0-1.846-1.087Z"/>
                    </div>
                </th>
                <th id="times" scope="col" class="px-6 py-3 cursor-pointer hover:text-indigo-900">
                    <div class="flex items-center">
                        Created
  
                    </div>
                </th>

                <th id="duedate" scope="col" class="flex items-center px-6 py-3 cursor-pointer hover:text-indigo-900">
                    <div class="">
                        Deadline
  
                    </div>
                </th>

                <th scope="col" class="px-6 py-3">
                    <span class="sr-only">Edit</span>
					<span class="sr-only">Del</span>
                </th>
            </tr>
			<script> 
                const baseUrl = 'https://taskify-app-fa1j.onrender.com/';
				const currentUrl = window.location.href;

				const titleBtn = document.getElementById('titles')
				const statsBtn = document.getElementById('statuses')
				const timesBtn = document.getElementById('times')
                const dueBtn = document.getElementById('duedate')

				statsBtn.addEventListener('click', function (){
				
				window.location = baseUrl + 'posts/?sort_by=completed_asc'

				if (currentUrl === baseUrl + 'posts/?sort_by=completed_asc') {
					window.location = baseUrl +  'posts/?sort_by=completed_desc'
				} else {
					window.location = baseUrl +  'posts/?sort_by=completed_asc'
				}
				})

                dueBtn.addEventListener('click', function (){
				
				window.location = baseUrl + 'posts/?sort_by=target_date_asc'

				if (currentUrl === baseUrl + 'posts/?sort_by=target_date_asc') {
					window.location = baseUrl + 'posts/?sort_by=target_date_desc'
				} else {
					window.location = baseUrl +  'posts/?sort_by=target_date_asc'
				}
				})


				titleBtn.addEventListener('click', function (){
				
				window.location = baseUrl +  'posts/?sort_by=title_asc'

				if (currentUrl === baseUrl + 'posts/?sort_by=title_asc') {
					window.location = baseUrl +  'posts/?sort_by=title_desc'
				} else {
					window.location = baseUrl +  'posts/?sort_by=title_asc'
				}
				})
				

				timesBtn.addEventListener('click', function (){
				
				window.location =  baseUrl + 'posts/?sort_by=created_at_asc'

				if (currentUrl ===  baseUrl + 'posts/?sort_by=created_at_asc') {
					window.location =  baseUrl + 'posts/?sort_by=created_at_desc'
				} else {
					window.location =  baseUrl + 'posts/?sort_by=created_at_asc'
				}
				})
                
				</script>
        </thead>
        <tbody class="max-w-full w-full ">
			{% for post in posts %}
            <tr class="bg-white border-b dark:bg-indigo-800 dark:border-indigo-700 sm:text-3xl xl:text-lg">
                <th scope="row" class="px-3 py-2 font-medium  text-indigo-500 whitespace-nowrap dark:text-white hover:text-indigo-500">
                    {% if post.completed %}
					<a class="line-through" href="{% url 'post' post.id %}">
                    {{ post.title }} </a>
                    {% else %}
                    <a href="{% url 'post' post.id %}">
                        {{ post.title }} </a>   
                    {% endif %}
                </th>
                <td class="px-3 py-2">
                    {% if post.completed %} DONE {% else %} PENDING {% endif %}
                </td>
                <td class="px-3 py-2">
                    {{ post.created_at|timesince }}
                </td>
                <td class="px-3 py-2">
                    {{ post.target_date|timeuntil }}
                </td>
                <td class="px-3 py-2 text-right">
                    <a href="{% url 'post-update' post.id %}" class="font-medium text-blue-600 dark:text-blue-500 hover:text-white"><span class="material-symbols-outlined sm:text-6xl">
                        edit
                        </span></a>
					<a href="{% url 'post-delete' post.id %}" class="font-medium text-blue-600 dark:text-blue-500 hover:text-red-600"><span class="material-symbols-outlined sm:text-6xl hover:text-red-500">
                        cancel
                        </span></a>
                </td>
            </tr>
			{% endfor %}
			{% if not posts %}
			<tr>
				<td colspan="4" class="text-center">You have no pending posts! Let's <a href="{% url 'post-create' %}">Create a Post!</a></td>
			</tr>
			{% endif %}
        </tbody>
    </table>
</div>


    {% if messages %}

<div id="bottom-banner"  class="fixed bottom-0 start-0 z-50 flex justify-between w-full p-4 border-t border-gray-200 bg-green-300 dark:bg-green-700 dark:border-green-600">
    <div class="flex items-center mx-auto">
        <p class="flex items-center xl:text-lg sm:text-4xl font-normal text-white dark:text-white">        
                {% for message in messages %} 

            <span>{{ message }}</span>
        </p>
        {% endfor %}
    </div>
    <div class="flex items-center">
        <button data-dismiss-target="#bottom-banner" type="button" id="closealert" class="flex-shrink-0 inline-flex justify-center w-7 h-7 items-center text-gray-400 hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 dark:hover:bg-gray-600 dark:hover:text-white"> 
            <span class="sr-only">Close banner</span>
        </button>
    </div>
    {% endif %}
</div>

<script>
    const closewin = document.getElementById("bottom-banner")
    const closealert = document.getElementById("closealert")

    closealert.addEventListener("click", function() {
        closewin.classList.add("hidden")
    }  )

    closewin.addEventListener("click", function() {
        closewin.classList.add("hidden")
    }  )
</script>

{% endblock  %}
