{% extends 'base.html' %}
{% block title %}
LIST VIEW TITLE
{% endblock  %}

{% block controller1 %} {% url 'post-create' %} {% endblock %}
{% block controller1title %} Create {% endblock %}

{% block content %}


<div class="relative overflow-x-auto overflow-y-auto ">
    <table class="w-full  xl:h-[80vh] sm:h-[80vh]  overflow-x-auto overflow-y-scroll">
        <thead class="xl:text-lg sm:text-5xl w-full text-gray-700 uppercase bg-indigo-50 dark:bg-indigo-700 dark:text-white ">
            <tr>
                <th id="titles" scope="col" class="px-6 py-3 cursor-pointer hover:text-indigo-900">
                    Titles
                </th>
                <th id="statuses" scope="col" class="px-6 py-3 cursor-pointer hover:text-indigo-900">
                    <div class="flex items-center">
                        Status
                    </div>
                </th>
                <th id="times" scope="col" class="px-6 py-3 cursor-pointer hover:text-indigo-900">
                    <div class="flex items-center">
                        Created
  
                    </div>
                </th>

                <th id="duedate" scope="col" class="flex items-center px-6 py-3 cursor-pointer hover:text-indigo-900">
                    <div class="">
                        Deadline
  
                    </div>
                </th>

                <th scope="col" class="px-6 py-3">
                    <span class="sr-only">Edit</span>
					<span class="sr-only">Del</span>
                </th>
            </tr>
			
        </thead>
        <tbody class="max-w-full w-full ">
			{% for post in posts %}
            <tr class="bg-white border-b dark:bg-indigo-800 dark:border-indigo-700 sm:text-3xl xl:text-lg">
                <th scope="row" class="px-3 py-2 font-medium  text-indigo-500 whitespace-nowrap dark:text-white hover:text-indigo-500">
                    {% if post.completed %}
					<a class="line-through" href="{% url 'post' post.id %}">
                    {{ post.title }} </a>
                    {% else %}
                    <a href="{% url 'post' post.id %}">
                        {{ post.title }} </a>   
                    {% endif %}
                </th>
                <td class="px-3 py-2">
                    {% if post.completed %} DONE {% else %} PENDING {% endif %}
                </td>
                <td class="px-3 py-2">
                    {{ post.created_at|timesince }}
                </td>
                <td class="px-3 py-2">
                    {{ post.target_date|timeuntil }}
                </td>
                <td class="px-3 py-2 text-right">
                    <a href="{% url 'post-update' post.id %}" class="font-medium text-blue-600 dark:text-blue-500 hover:text-white"><span class="material-symbols-outlined sm:text-6xl">
                        edit
                        </span></a>
					<a href="{% url 'post-delete' post.id %}" class="font-medium text-blue-600 dark:text-blue-500 hover:text-red-600"><span class="material-symbols-outlined sm:text-6xl hover:text-red-500">
                        cancel
                        </span></a> 
                </td>
            </tr>
			{% endfor %}
			{% if not posts %}
			<tr>
				<td colspan="4" class="text-center">You have no pending posts! Let's <a href="{% url 'post-create' %}">Create a Post!</a></td>
			</tr>
			{% endif %}
        </tbody>
    </table>
</div>


{% endblock  %}
