{%extends 'base.html'%}
{% block controller1 %} {% url 'posts' %} {% endblock%}
{% block controller1title %} Tasks {% endblock%}
{%block content%}
<section id="hero" class="min-h-screen flex flex-col-reverse justify-center align-middle px-6 items-center gap-8 mb-12 scroll-mt-40 sm:flex-row">

    <form method="post" class="bg-gray-800 rounded-lg shadow-lg p-8 ">
        {% csrf_token %}
        <h2 class="xl:text-3xl sm:text-8xl text-indigo-500 font-semibold mb-4 mt-8 text-center">Delete Post</h2>
        <p class="text-white xl:text-2xl sm:text-6xl mb-6 w-full mt-10">Are you sure that you want to delete "{{post}}"?</p>

        <div class="flex justify-center gap-4 mt-28">
            <button class="xl:text-xl  sm:text-6xl px-6 py-3 bg-indigo-600 hover:bg-red-500 hover:text-white hover:border-indigo-600 border rounded-lg focus:outline-none" type="submit" value="Delete">Delete</button>
            <button class="xl:text-xl sm:text-6xl px-6 py-3 bg-indigo-600 hover:bg-white hover:text-black hover:border-indigo-600 border rounded-lg focus:outline-none"><a href="{% url 'posts'%}" >Cancel</a></button>
        </div>
    </form>

</section>


{%endblock content%}