{%extends 'base.html'%}



{% block controller1 %} {% url 'posts' %} {% endblock%}
{% block controller1title %} Tasks {% endblock%}
{%block content%}
<article class="task flex flex-col xl:w-[80%] ">
	<header class="flex w-full justify-center text-center  xl:h-12 p-2">
		<h2 class="xl:text-3xl sm:text-8xl text-indigo-500 font-extrabold">{{ post.title }}</h2>
		
	</header>
<div class="break-words ">
	<textarea readonly type="text" name="description" cols="30" rows="30" id="id_description" value="{{ form.instance.description }}" class="sm:text-6xl xl:text-xl xl:w-full  xl:h-[50rem] sm:mt-10 xl:mt-2 rounded-lg p-2 bg-indigo-200 text-black">{{ post.description }}</textarea> 
</div>
	<span class=" xl:text-xl  sm:text-4xl flex font-extrabold justify-center w-full h-3/12 mt-3 badge {% if task.completed %}badge-completed{% else %}badge-pending{%endif%}">
		{% if post.completed %} Completed {%else%} Pending {%endif%}
	</span>
    <span class="">
	<a class="xl:text-lg sm:text-6xl  bg-indigo-500 hover:bg-indigo-100 hover:text-indigo-600 border xl:rounded-full sm:rounded-lg   text-white p-3 " href="{% url 'post-update' post.id%}"><span class="material-symbols-outlined">
		edit
		</span></a>
</span>


</article>

{%endblock content%}