{%extends 'base.html'%}



{% block controller1 %} {% url 'posts' %} {% endblock%}
{% block controller1title %} Tasks {% endblock%}
{%block content%}
<article class="task xl:h-full sm:h-screen sm:w-full flex flex-col xl:w-full sm:p-10 sm:my-20 sm:text-5xl xl:p-4 sm:mt-5">
	<header class="flex w-full justify-center text-center  xl:h-12 p-2">
		<h2 class="xl:text-3xl sm:text-8xl text-indigo-500 font-extrabold">{{ post.title }}</h2>
		
	</header>

	<p class="sm:mt-10 xl:mt-5 break-words text-black  border bg-indigo-200 border-white p-4 flex sm:h-full xl:w-full xl:h-56 sm:text-5xl xl:text-xl">{{post.description}}</p>

	<span class=" xl:text-xl flex font-extrabold justify-center w-full h-3/12 mt-3 badge {% if task.completed %}badge-completed{% else %}badge-pending{%endif%}">
		{% if post.completed %} Completed {%else%} Pending {%endif%}
	</span>
    <span class="">
	<a class="xl:text-lg sm:text-6xl  bg-indigo-500 hover:bg-indigo-100 hover:text-indigo-600 border rounded-lg m-1  text-white p-5 " href="{% url 'post-update' post.id%}">Edit</a>
</span>


</article>

{%endblock content%}