<head>
	<script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>

<body class="font-mono h-screen bg-indigo-100 flex justify-center items-center ">

<div class=" border  bg-white p-10 rounded-lg shadow-lg w-6/12 h-3/4 flex flex-col ">

    <div class="title basis-1/12 p-1 bg-slate-100 rounded-lg flex flex-row">
        
    <div class="w-6/12 items-start text-start ">
     <h1 class="p-2 text-2xl text-indigo-500 font-semibold">Taskify</h1>
    </div>

    <div class=" flex text-md w-6/12   items-center justify-end">
     {% if user.is_authenticated %}
        <a class="bg-indigo-300 border rounded-lg m-1 p-1 text-white" href="{%block controller1%} {%endblock%}">{%block controller1title%} {%endblock%}</a> 
        
        <form class="item-center justify-center m-0" action= "{%url 'logout'%}" method="post">
            {% csrf_token %}
            <button class="bg-indigo-300 border rounded-lg m-1 p-1 text-white" type="submit">Logout</button>
        </form>   

        {% else %}
        <a class="bg-indigo-300 border rounded-lg m-1 p-1 text-white" href="{% url 'login'%}">LogIn</a>
        <a class="bg-indigo-300 border rounded-lg m-1 p-1 text-white" href="{% url 'register'%}" >Sign Up</a>
        {% endif %}
    </div>
    
    </div>


     <div class="content text-center bg-slate-100 rounded-lg mt-1 text-xl p-1 basis-11/12 justify-center items-center p-5">
        {%block content%}
    
        {%endblock%}
    </div>
     

</div>

    



</body>