<!DOCTYPE html>
{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>

<body class=" font-mono h-screen bg-indigo-100 flex justify-center items-center ">

    <div class="sm:h-full sm:p-2  xl:h-full xl:p-4 sm:m-3 border bg-white  rounded-lg shadow-lg  flex flex-col justify-start ">

        <div class="rounded-lg bg-indigo-50 flex flex-row  p-3  justify-between ">
            
            <div class="p-2 ">
                <h1 class="text-center sm:text-7xl sm:font-extrabold  shadow-xl xl:text-6xl text-indigo-600 font-extrabold">Taskify</h1>
            </div>
    
            <div class=" flex flex-row  items-center ">
                {% if user.is_authenticated %}
                <button class=" sm:text-xl xl:text-xl p-2 rounded-lg bg-indigo-600 hover:bg-white hover:text-indigo-600 hover:border-indigo-600 border  text-white "><a href="{% block controller1 %}{% endblock %}">{% block controller1title %}{% endblock %}</a></button>
            
                <form class="item-center justify-center m-0" action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button class="sm:text-5xl xl:text-xl p-2 rounded-lg bg-indigo-600 hover:bg-white hover:text-indigo-600 hover:border-indigo-600 border  text-white " type="submit">Logout</button>
                </form>   
    
                {% else %}
                <button class="sm:text-5xl xl:text-xl p-2 rounded-lg bg-indigo-600 hover:bg-white hover:text-indigo-600 hover:border-indigo-600 border text-white"><a  href="{% url 'login' %}">LogIn</a></button>
                <button class="sm:text-5xl xl:text-xl p-2 rounded-lg bg-indigo-600 hover:bg-white hover:text-indigo-600 hover:border-indigo-600 border text-white "><a  href="{% url 'register' %}">Sign Up</a></button>
                {% endif %}
            </div>
        
        </div>
    
        <div class=" content bg-slate-100 rounded-lg mt-5 flex  justify-center xl:w-full xl:h-full sm:h-full sm:w-full ">
            {% block content %}{% endblock %}
        </div>
         
    </div>

    



</body>