<!DOCTYPE html>
{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>

<body class=" font-mono h-screen bg-indigo-100 flex justify-center items-center ">

    <div class="sm:h-full sm:w-full sm:m-3 border bg-white p-6 rounded-lg shadow-lg xl:w-6/12 xl:h-3/4 flex flex-col">

        <div class="sm:rounded-e-md sm:basis-1/12 title xl:basis-2/12 p-1 bg-indigo-100 rounded-lg flex flex-row">
            
            <div class="w-full sm:items-center sm:text-center sm:flex sm:justify-center xl:w-6/12 xl:items-center">
                <h1 class="text-center sm:text-8xl sm:font-extrabold  sm:text-indigo-600 xl:text-6xl xl:text-indigo-600 xl:font-extrabold">Taskify</h1>
            </div>
    
            <div class=" flex text-md xl:w-6/12 items-center justify-end  ">
                {% if user.is_authenticated %}
                <button class=" xl:w-32 xl:h-14 sm:rounded-2xl sm:text-4xl sm:h-28 sm:w-32 bg-indigo-600 hover:bg-white hover:text-indigo-600 hover:border-indigo-600 border rounded-md m-1 p-1 text-white xl:text-xl"><a href="{% block controller1 %}{% endblock %}">{% block controller1title %}{% endblock %}</a></button>
            
                <form class="item-center justify-center m-0" action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button class=" xl:w-32 xl:h-14 sm:rounded-2xl sm:text-4xl sm:h-28 sm:w-32 bg-indigo-600 hover:bg-white hover:text-indigo-600 hover:border-indigo-600 border rounded-md m-1 p-1 text-white xl:text-xl" type="submit">Logout</button>
                </form>   
    
                {% else %}
                <button class=" xl:w-32 xl:h-14 sm:rounded-2xl sm:text-4xl sm:h-28 sm:w-32 bg-indigo-600 hover:bg-white hover:text-indigo-600 hover:border-indigo-600 border rounded-md m-1 p-1 text-white xl:text-xl"><a  href="{% url 'login' %}">LogIn</a></button>
                <button class=" xl:w-32 xl:h-14 sm:rounded-2xl sm:text-4xl sm:h-28 sm:w-32 bg-indigo-600 hover:bg-white hover:text-indigo-600 hover:border-indigo-600 border rounded-md m-1 p-1 text-white xl:text-xl"><a  href="{% url 'register' %}">Sign Up</a></button>
                {% endif %}
            </div>
        
        </div>
    
        <div class="sm:basis-10/12 content bg-slate-100 rounded-lg mt-1 flex xl:basis-10/12 justify-center xl:w-full xl:h-full">
            {% block content %}{% endblock %}
        </div>
         
    </div>

    



</body>